In [ ]:
print(7**4)

2401

In [ ]:
s = "Hi there Sam"
lst = s.split(' ')

print(lst)

['Hi', 'there', 'Sam']

In [ ]:
planet = "Earth"
diameter = 12742
print( 'The diameter of {} is {} kilometers.' .format(planet,diameter));

The diameter of Earth is 12742 kilometers.

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
a=lst[3][1][2];
print(a)

['hello']

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]['target'][3])

hello

In [ ]:
# Tuple is immutable whereas list is  mutable.
#Tuples operations are safe.
#Tuples consumes less memory whereas list consumes more memory.

In [ ]:
def domainGet(email):
    print("Your domain is: " + email.split('@')[-1])

email = input("Please enter your email: >")
domainGet(email)

Please enter your email: >rizwanalavudeen88@gmail.com
Your domain is: gmail.com

In [ ]:
def findDog(st):
    if 'dog' in st.lower():
        print("True")
    else:
        print("False")

st = "Is there a dog here?"
findDog(st)

True

In [ ]:
value = 'This dog runs faster than the other dog dude!';

def countdogs(value):
    count = 0
    for word in value.lower().split():
        if word == 'dog':
            count = count + 1
            print(count)

countdogs(value)

1
2

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(81,False)

'Big Ticket'

In [ ]:
caught_speeding(81,True)

'Small Ticket'

In [ ]:
emp_name = ['Zenith','Yusra','Saba','Zoya','Haada']
emp_salary = [25000,15700,50000,8600,14320]
for emp_name, emp_salary in zip(emp_name, emp_salary):

    print(emp_name, emp_salary)

Zenith 25000
Yusra 15700
Saba 50000
Zoya 8600
Haada 14320

In [ ]:
dict1 = {"empid": '1', "empname": 'saba', "basicpay": '50000'}
dict2 = {"deptname": 'AI', "deptid": '432'}

print({**dict1, **dict2})

{'empid': '1', 'empname': 'saba', 'basicpay': '50000', 'deptname': 'AI', 'deptid': '432'}